bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/GameEngineTests/Debug/
/GameCoreTests/Debug/
/Debug/
*.DotSettings.user
/Game/Debug/
/Game/Release/
/GameEngine/Debug/
/GameEngine/Release/
/Release/
/build/
/.idea/
