bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/GameEngineTests/Debug/
/GameProjectTests/Debug/
/Debug/
*.DotSettings.user
/Game/Debug/
/Game/Release/
/GameEngineLib/Debug/
/GameEngineLib/Release/
/Release/
